*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div#wrapper, div#map {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex: 1;
}

#map {
    flex: 1;
}

#sidebar {
    order: -1;
    flex: 0 0 20em;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#title {
    width: 100%;
}

#legend {
    width: 100%;
}

#csv_input {
    width: 100%;
    flex: 1
}
