@font-face{
    font-family: 'DejaVuSans';
    src: url('fonts/dejavusans_book_macroman/DejaVuSans-webfont.eot');
    src: url('fonts/dejavusans_book_macroman/DejaVuSans-webfont.eot?iefix') format('eot'),
    url('fonts/dejavusans_book_macroman/DejaVuSans-webfont.woff') format('woff'),
    url('fonts/dejavusans_book_macroman/DejaVuSans-webfont.ttf') format('truetype'),
    url('fonts/dejavusans_book_macroman/DejaVuSans-webfont.svg#webfont') format('svg');
}

body, p, h1, h2 {
    font-family: 'DejaVuSans', Arial, sans-serif;
}

textarea {
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div#wrapper, div#map {
    height: 100%;
}

body, div, p, input {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex: 1;
}

#map {
    flex: 1;
}

#sidebar {
    order: -1;
    flex: 0 0 24em;
    height: 100%;
    flex-direction: column;
    display: flex;
}

#title {
    width: 100%;
}

#legend {
    width: 100%;
}

#csv_input {
    width: 100%;
    flex: 1;
    padding: 5px;
}

h1, h2 {
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2em;
}
h2 {
    padding-top: 0;
    padding-left: 30px;
    font-size: 1.2em;
}

#legend {
    padding: 0 5px;
}

#control_layer {
    position: absolute;
    z-index: 1000;
}

#controls {
    background: #fff;
    margin: 5px;
}

#time_slider {
    width: 100%;
}

#time_slider_start {
    float: left;
}

#time_slider_finish {
    float: right;
}

.tag_icon {
    width: auto !important;
    height: 44px !important;
}

.tag_main {
    height: 34px;
    background: #fff;
    padding: 5px 10px;
    font-size: 16px;
    background: #000;
    color: #fff;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #000 transparent transparent transparent;
}