<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel='stylesheet' href='/css/csv.css' />
  </head>
  <body>
    <div id="wrapper">
      <div id="map"></div>
      <div id="sidebar">
        <div id="sidebar_wrapper">
          <div id="title">
          </div>
          <div id="legend">
            Paste CSV data below.
          </div>
          <textarea id="csv_input">

          </textarea>
        </div>
      </div>
    </div>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
      var map = L.map('map').setView([51.505, -0.09], 13);
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
      L.tileLayer(osmUrl, {minZoom: 1, maxZoom: 18, attribution: osmAttrib}).addTo(map);

      var csv_input = document.querySelectorAll('#csv_input')[0];
      csv_input.addEventListener('keyup', function(arg) {
        alert('keyup');
      });
      csv_input.addEventListener('change', function(arg) {
        alert('change');
      });
    </script>
  </body>
</html>
